<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seed Bank - Prosperamos Juntos!</title>

    <!-- Custom Fonts -->
    <link href="build/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-app="seedbank-app" ng-controller="MailChimpController as vm">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll cursive" href="#page-top">Seed Bank</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#merchant">Lojista</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#customer">Consumidor</a>
                    </li>   
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>               
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Prosperamos Juntos!</h1>
                <hr>
                <p>Seed Bank é um <u>correspondente bancário</u> que facilita a contratação de financiamentos 
                    para realizar compras em lojistas parceiros. Quer saber como podemos prosperar juntos?
                </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Prosperar!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Como prosperamos juntos?</h2>
                    <hr class="light">
                    <p class="text-faded">Nós melhoramos o crediário!</p>
                    <p class="text-faded">Está cansado da <u>burocracia</u> de bancos ou financeiras? Da <u>demora</u> da análise de crédito? De <u>taxas abusivas</u>?</p> 
                    <p class="text-faded">O Seed Bank foi feito para você!</p>
                    <p class="text-faded">
                        Somos um correspondente bancário que tem a missão de trazer um serviço de financiamento online menos burocrático e sem taxas abusivas.

                        Tanto para você lojista realizar mais vendas quanto você consumidor realizar seus sonhos!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-6 text-center">
                    <div class="service-box">
                        <a href="#merchant" class="page-scroll btn btn-default btn-xl sr-button">Sou lojista!</a>
                    </div>
                </div>
                <div class="col-md-1 text-center">
                    <div class="service-box">
                        <a href="#customer" class="page-scroll btn btn-default btn-xl sr-button">Sou consumidor!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="merchant">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lojista</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money text-primary sr-icons"></i>
                        <h3>Economia</h3>
                        <p class="text-muted">Diga não a taxas e tarifas abusivas, nossas taxas são cobradas conforme seu volume de vendas! </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-lock text-primary sr-icons"></i>
                        <h3>Segurança</h3>
                        <p class="text-muted">Análise de crédito segura, venda com menos preocupação e mais retorno!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                         <i class="fa fa-4x fa-level-up text-primary sr-icons"></i>
                        <h3>Prospecção</h3>
                        <p class="text-muted">Seu negócio será divulgado em nossa plataforma e mais consumidores visualizarão sua marca!</p>                    
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Fidelização</h3>
                        <p class="text-muted">Facilitar a forma de pagamento para seus clientes aumentará a taxa de retorno em seu negócio!</p>
                    </div>
                </div>
            </div>           
        </div>
        <hr class="primary">
        <br />
        <br />        
        <div class="container">
            <form name="merchantForm" novalidate>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Ficou interessado? Cadastre seu e-mail para começarmos a prosperar juntos!</h2>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <div class="input-group" style="margin: 10px;">
                            <span class="input-group-addon">Empresa</span>
                            <input type="text" name="name" class="form-control" ng-model="vm.merchantChimp.FNAME" placeholder="Nome do seu negócio (:" required />
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">E-mail</span>
                            <input type="email" name="email" class="form-control" ng-pattern="vm.emailFormat" ng-model="vm.merchantChimp.EMAIL" placeholder="Ex: contato@seedbank.com.br" required />
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <button type="button" class="btn btn-primary btn-xl page-scroll" ng-click="vm.merchant.subscribe()" ng-disabled="merchantForm.$invalid || merchantForm.email.$error.pattern">Prosperar!</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

     <section id="customer" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Consumidor</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-credit-card text-primary sr-icons"></i>
                        <h3>Facilidade</h3>
                        <p class="text-muted">Sem burocracia, em pouco tempo sua análise de crédito é realizada! </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money text-primary sr-icons"></i>
                        <h3>Taxas baixas</h3>
                        <p class="text-muted">Juros do financiamento menor que bancos e financeiras.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                         <i class="fa fa-4x fa-smile-o text-primary sr-icons"></i>
                        <h3>Conquista</h3>
                        <p class="text-muted">Realize seus sonhos de consumo! Móveis, cirurgias plásticas, eletrônicos e etc. </p>                    
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cloud text-primary sr-icons"></i>
                        <h3>Online</h3>
                        <p class="text-muted">Pague suas parcelas via aplicativo ou site, a escolha é sua!</p>
                    </div>
                </div>
            </div>           
        </div>
        <hr class="primary">
        <br />
        <br />        
        <div class="container">
             <form name="consumerForm" novalidate>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Quer realizar seus sonhos?</h2>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <div class="input-group" style="margin: 10px;">
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">E-mail</span>
                            <input type="email" name="email" class="form-control" ng-pattern="vm.emailFormat" ng-model="vm.consumerChimp.EMAIL" placeholder="Ex: contato@seedbank.com.br" required />
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <button type="button" class="btn btn-primary btn-xl page-scroll" ng-click="vm.consumer.subscribe()" ng-disabled="consumerForm.$invalid || consumerForm.email.$error.pattern">Prosperar!</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Em breve...</h2>
                    <hr class="primary">
                    <p>Seed Bank é uma Startup em processo de validação no mercado!</p>
                    <p>Quer mais informações?</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:contato@seedbank.com.br">contato@seedbank.com.br</a></p>
                </div>
            </div>
        </div>
    </section>

    <script src="js/seedbank.min.js"></script>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-46870903-3');ga('send','pageview');
    </script>
</body>

</html>
